@charset "utf-8";
#header {
    border-style: none;
    width: 1000px;
    height: auto;
}
#wrapper {
     margin-top: 0px;
     margin-left: auto;
     margin-right: auto;
     background-color: #FFFFFF;
     width: 1000px;
}
#topbanner img{
    width: 1000px;
}
body{
    background-color: #E0E0E0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 0.9em;
    text-align: justify;
    color: #474747;
}
#top_menu {
  overflow: hidden;
  background-color: #333;
  display:block;
  clear:both;
}

#top_menu a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

#top_menu a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.loginlogout{
    position: relative;
    top: 50px;
    float: right;
    right: 10px;
}
h1 {
    color: #270c39;
}
#footer {
    text_align: center;
    font_size: 0.8em;
    padding-top: 10px;
    padding--bottom: 10px;
    background-color: #222222;
    border-top:thin solid #BBBBBB;
    clear: both;
    color: #ffffff;
}
  .footerall{
display:flex;
}
 .footerc{
 padding: 20px;
    width: 50%;
}
 .footerd{
 padding: 20px;text-align:right;
    width: 50%;
}
.social-icons{
text-align:right;
}
.social-icons a{
	color:#fff;
  line-height:30px;
  font-size:22px;
  margin: 0 5px;
  text-decoration:none;

}
.social-icons a i{
	line-height:30px;
  font-size:22px;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}
.social-icons a:hover i{
  box-shadow: 0px 0px 150px #000000;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);
}
#nav li {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1em;
    list-style-type: none;
    border-bottom:thin solid #e0e0e0;
    color: #1e9d36;
    left: 0px;
    list-style-position: inside;
}
#nav li a {
    text-decoration: none;
}
#rightsidebar {
    width: 180px;
    height: 350px;
    float: right;
    padding-right: 20px;
}
#main {
    width: 560px;
    float: left;
    margin: 0 10px 50px 20px;
    padding-right: 10px;
}
#logo {
    padding: 10px;
    float: left;
}
table.month td {
    border: 1px solid rdb(221, 221, 221);
    padding: 20px;
    text-align: center;
}
table.month th {
    padding: 2px 0px;
    text-align: center;
}
th.month {
    display: none;
}

ul.errorlist {
    margin: 0;
    padding: 0;
}

.errolist li {
    border: 1px solid red;
    color: red;
    background: rgba(255, 0, 0, 0.15);
    life-style-position: inside;
    display: block;
    font-size: 1.2em;
    margin: 0 0 3px;
    padding: 4px 5px;
    text-align: center;
    border-radius: 3px;
}

input, textarea {
    width: 100%;
    padding: 5px!important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(169,169,169);
}

input {
    height: 30px;
}

.success {
    background-color: rgba(0, 12, 0, 0.15);
    padding: 100px;
    text-align: center;
    color: green;
    border: 1px solid green;
    border-radius: 3px;
}

.required label:after {
    content: "*";
}